In [0]:
import pandas as pd
import numpy as np
train = pd.read_csv("train_prep.csv")
test = pd.read_csv("test_prep.csv")

In [3]:
train.drop(['APARTMENT.NUMBER', 'LAND.SQUARE.FEET', 'GROSS.SQUARE.FEET', 'SALE.DATE', 'ZIP.CODE'], axis=1, inplace=True)
test.drop(['APARTMENT.NUMBER', 'LAND.SQUARE.FEET', 'GROSS.SQUARE.FEET', 'SALE.DATE'], axis=1, inplace=True)
train.isna().sum()

NEIGHBORHOOD                        0
BUILDING.CLASS.CATEGORY             0
TAX.CLASS.AT.PRESENT              182
BLOCK                               0
LOT                                 0
BUILDING.CLASS.AT.PRESENT         182
RESIDENTIAL.UNITS                   0
COMMERCIAL.UNITS                    0
TOTAL.UNITS                         0
YEAR.BUILT                          0
TAX.CLASS.AT.TIME.OF.SALE           0
BUILDING.CLASS.AT.TIME.OF.SALE      0
sale_year                           0
sale_month                          0
sale_day                            0
sale_minus_built                    0
high.end                            0
dtype: int64

In [4]:
train = train.dropna()
# test = test.dropna()
train.isna().sum()

NEIGHBORHOOD                      0
BUILDING.CLASS.CATEGORY           0
TAX.CLASS.AT.PRESENT              0
BLOCK                             0
LOT                               0
BUILDING.CLASS.AT.PRESENT         0
RESIDENTIAL.UNITS                 0
COMMERCIAL.UNITS                  0
TOTAL.UNITS                       0
YEAR.BUILT                        0
TAX.CLASS.AT.TIME.OF.SALE         0
BUILDING.CLASS.AT.TIME.OF.SALE    0
sale_year                         0
sale_month                        0
sale_day                          0
sale_minus_built                  0
high.end                          0
dtype: int64

In [5]:

test['TAX.CLASS.AT.PRESENT'].fillna(2, inplace=True)
test['BUILDING.CLASS.AT.PRESENT'].fillna(2, inplace=True)
test.isna().sum()

NEIGHBORHOOD                      0
BUILDING.CLASS.CATEGORY           0
TAX.CLASS.AT.PRESENT              0
BLOCK                             0
LOT                               0
BUILDING.CLASS.AT.PRESENT         0
ZIP.CODE                          0
RESIDENTIAL.UNITS                 0
COMMERCIAL.UNITS                  0
TOTAL.UNITS                       0
YEAR.BUILT                        0
TAX.CLASS.AT.TIME.OF.SALE         0
BUILDING.CLASS.AT.TIME.OF.SALE    0
sale_year                         0
sale_month                        0
sale_day                          0
sale_minus_built                  0
ID                                0
dtype: int64

In [6]:
train.head(20)

     NEIGHBORHOOD           BUILDING.CLASS.CATEGORY  ... sale_minus_built  high.end
0   ALPHABET CITY           01 ONE FAMILY DWELLINGS  ...              159         0
1   ALPHABET CITY           02 TWO FAMILY DWELLINGS  ...              119         0
2   ALPHABET CITY           02 TWO FAMILY DWELLINGS  ...              118         0
3   ALPHABET CITY           02 TWO FAMILY DWELLINGS  ...              118         0
4   ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...               18         0
5   ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...              119         0
6   ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...               99         0
7   ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...              118         0
8   ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...              118         1
9   ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...              118         1
10  ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...               99         1
11  ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...               99         1
12  ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...              119         0
13  ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...              119         0
14  ALPHABET CITY    07 RENTALS - WALKUP APARTMENTS  ...              119         0
15  ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS  ...              119         1
16  ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS  ...               34         0
17  ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS  ...               18         0
18  ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS  ...                9         1
19  ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS  ...                9         0

[20 rows x 17 columns]

In [0]:
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn â‰¥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"
import os
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from random import seed
import random
seed(22)
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),
    ('std_scaler', StandardScaler())
])

num_attribs = ['YEAR.BUILT', 'sale_year', 'sale_day', 'sale_minus_built', 'LOT']
cat_attribs = ['BUILDING.CLASS.CATEGORY', 'NEIGHBORHOOD','TAX.CLASS.AT.PRESENT','BUILDING.CLASS.AT.TIME.OF.SALE', 
                'RESIDENTIAL.UNITS', 'COMMERCIAL.UNITS','BUILDING.CLASS.AT.PRESENT', 
               'TOTAL.UNITS', 'TAX.CLASS.AT.TIME.OF.SALE', 'sale_month', 'BLOCK']

full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_attribs),
    ])


x_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1]
y_train = pd.DataFrame({"high_end":y_train})
x_test = test.iloc[:,:-1]
id_test = test.iloc[:,-1]
id_test = pd.DataFrame({"id":id_test})

# transform data using pipeline
x_train = full_pipeline.fit_transform(x_train)
x_test = full_pipeline.transform(x_test)

In [22]:
# number of input variables
np.size(x_train,1)

1675

In [16]:
# https://datascience.stackexchange.com/questions/45165/how-to-get-accuracy-f1-precision-and-recall-for-a-keras-model
# https://keras.io/getting-started/sequential-model-guide/#mlp-for-binary-classification

import keras
from keras import Sequential
from keras.layers import Dense
from keras.optimizers import SGD
from keras.layers import Dense, Dropout, Activation
from keras.constraints import maxnorm
from keras import backend as K

def recall_m(y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
        recall = true_positives / (possible_positives + K.epsilon())
        return recall

def precision_m(y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
        precision = true_positives / (predicted_positives + K.epsilon())
        return precision
# construct f1 metric for classifier to see how well it's doing
def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

classifier = Sequential()
# classifier.add(Dropout(0.2, input_shape=(207,)))
classifier.add(Dense(512, activation='relu', kernel_initializer='random_normal', input_dim=1675, kernel_constraint=maxnorm(15)))
# classifier.add(Dropout(0.3))
# classifier.add(Dense(512, activation='relu', kernel_initializer='random_normal', kernel_constraint=maxnorm(5)))
# classifier.add(Dropout(0.5))
classifier.add(Dense(256, activation='relu', kernel_initializer='random_normal', kernel_constraint=maxnorm(15)))
# classifier.add(Dropout(0.3))
classifier.add(Dense(256, activation='relu', kernel_initializer='random_normal', kernel_constraint=maxnorm(15)))
# classifier.add(Dropout(0.1))
classifier.add(Dense(32, activation='relu', kernel_initializer='random_normal', kernel_constraint=maxnorm(15)))
#Output Layer
classifier.add(Dense(1, activation='sigmoid', kernel_initializer='random_normal'))
# sgd = SGD(lr=0.1, decay=1e-2, momentum=0.9)

#Compiling the neural network
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics =[f1_m, precision_m, recall_m, 'accuracy'])

#Fitting the data to the training dataset 87
classifier.fit(x_train, final_y_train, batch_size=20, epochs=70)

eval_model=classifier.evaluate(x_train, final_y_train)
eval_model

Epoch 1/70
7044/7044 [==============================] - 8s 1ms/step - loss: 0.4889 - f1_m: 0.2815 - precision_m: 0.3978 - recall_m: 0.2440 - acc: 0.7618
Epoch 2/70
7044/7044 [==============================] - 6s 917us/step - loss: 0.3799 - f1_m: 0.5975 - precision_m: 0.7489 - recall_m: 0.5437 - acc: 0.8248
Epoch 3/70
7044/7044 [==============================] - 7s 932us/step - loss: 0.3199 - f1_m: 0.6776 - precision_m: 0.7754 - recall_m: 0.6453 - acc: 0.8509
Epoch 4/70
7044/7044 [==============================] - 7s 944us/step - loss: 0.2635 - f1_m: 0.7463 - precision_m: 0.8310 - recall_m: 0.7155 - acc: 0.8815
Epoch 5/70
7044/7044 [==============================] - 7s 946us/step - loss: 0.2171 - f1_m: 0.7877 - precision_m: 0.8552 - recall_m: 0.7663 - acc: 0.8999
Epoch 6/70
7044/7044 [==============================] - 7s 929us/step - loss: 0.1780 - f1_m: 0.8304 - precision_m: 0.8727 - recall_m: 0.8216 - acc: 0.9204
Epoch 7/70
7044/7044 [==============================] - 6s 921us/step - loss: 0.1500 - f1_m: 0.8580 - precision_m: 0.8797 - recall_m: 0.8649 - acc: 0.9300
Epoch 8/70
7044/7044 [==============================] - 7s 929us/step - loss: 0.1287 - f1_m: 0.8818 - precision_m: 0.8926 - recall_m: 0.8936 - acc: 0.9428
Epoch 9/70
7044/7044 [==============================] - 7s 923us/step - loss: 0.1143 - f1_m: 0.8913 - precision_m: 0.9002 - recall_m: 0.9025 - acc: 0.9476
Epoch 10/70
7044/7044 [==============================] - 7s 925us/step - loss: 0.1015 - f1_m: 0.9091 - precision_m: 0.9207 - recall_m: 0.9156 - acc: 0.9539
Epoch 11/70
7044/7044 [==============================] - 7s 929us/step - loss: 0.0930 - f1_m: 0.9158 - precision_m: 0.9197 - recall_m: 0.9267 - acc: 0.9563
Epoch 12/70
7044/7044 [==============================] - 7s 928us/step - loss: 0.0849 - f1_m: 0.9235 - precision_m: 0.9268 - recall_m: 0.9334 - acc: 0.9629
Epoch 13/70
7044/7044 [==============================] - 7s 928us/step - loss: 0.0744 - f1_m: 0.9367 - precision_m: 0.9397 - recall_m: 0.9457 - acc: 0.9655
Epoch 14/70
7044/7044 [==============================] - 6s 912us/step - loss: 0.0683 - f1_m: 0.9346 - precision_m: 0.9411 - recall_m: 0.9413 - acc: 0.9676
Epoch 15/70
7044/7044 [==============================] - 7s 941us/step - loss: 0.0706 - f1_m: 0.9367 - precision_m: 0.9458 - recall_m: 0.9386 - acc: 0.9686
Epoch 16/70
7044/7044 [==============================] - 7s 947us/step - loss: 0.0670 - f1_m: 0.9353 - precision_m: 0.9369 - recall_m: 0.9466 - acc: 0.9689
Epoch 17/70
7044/7044 [==============================] - 7s 938us/step - loss: 0.0624 - f1_m: 0.9337 - precision_m: 0.9338 - recall_m: 0.9470 - acc: 0.9700
Epoch 18/70
7044/7044 [==============================] - 7s 935us/step - loss: 0.0667 - f1_m: 0.9379 - precision_m: 0.9334 - recall_m: 0.9548 - acc: 0.9710
Epoch 19/70
7044/7044 [==============================] - 6s 880us/step - loss: 0.0602 - f1_m: 0.9415 - precision_m: 0.9393 - recall_m: 0.9559 - acc: 0.9716
Epoch 20/70
7044/7044 [==============================] - 6s 904us/step - loss: 0.0548 - f1_m: 0.9503 - precision_m: 0.9411 - recall_m: 0.9689 - acc: 0.9737
Epoch 21/70
7044/7044 [==============================] - 6s 899us/step - loss: 0.0505 - f1_m: 0.9464 - precision_m: 0.9356 - recall_m: 0.9688 - acc: 0.9729
Epoch 22/70
7044/7044 [==============================] - 6s 911us/step - loss: 0.0557 - f1_m: 0.9476 - precision_m: 0.9445 - recall_m: 0.9611 - acc: 0.9756
Epoch 23/70
7044/7044 [==============================] - 6s 904us/step - loss: 0.0584 - f1_m: 0.9493 - precision_m: 0.9450 - recall_m: 0.9624 - acc: 0.9746
Epoch 24/70
7044/7044 [==============================] - 6s 902us/step - loss: 0.0532 - f1_m: 0.9525 - precision_m: 0.9456 - recall_m: 0.9687 - acc: 0.9757
Epoch 25/70
7044/7044 [==============================] - 6s 917us/step - loss: 0.0469 - f1_m: 0.9475 - precision_m: 0.9406 - recall_m: 0.9658 - acc: 0.9774
Epoch 26/70
7044/7044 [==============================] - 6s 904us/step - loss: 0.0526 - f1_m: 0.9462 - precision_m: 0.9392 - recall_m: 0.9630 - acc: 0.9743
Epoch 27/70
7044/7044 [==============================] - 6s 911us/step - loss: 0.0471 - f1_m: 0.9497 - precision_m: 0.9428 - recall_m: 0.9653 - acc: 0.9774
Epoch 28/70
7044/7044 [==============================] - 6s 892us/step - loss: 0.0424 - f1_m: 0.9553 - precision_m: 0.9489 - recall_m: 0.9700 - acc: 0.9786
Epoch 29/70
7044/7044 [==============================] - 6s 890us/step - loss: 0.0556 - f1_m: 0.9481 - precision_m: 0.9441 - recall_m: 0.9636 - acc: 0.9740
Epoch 30/70
7044/7044 [==============================] - 6s 899us/step - loss: 0.0481 - f1_m: 0.9573 - precision_m: 0.9563 - recall_m: 0.9654 - acc: 0.9780
Epoch 31/70
7044/7044 [==============================] - 6s 898us/step - loss: 0.0436 - f1_m: 0.9493 - precision_m: 0.9472 - recall_m: 0.9608 - acc: 0.9767
Epoch 32/70
7044/7044 [==============================] - 6s 905us/step - loss: 0.0399 - f1_m: 0.9631 - precision_m: 0.9577 - recall_m: 0.9753 - acc: 0.9810
Epoch 33/70
7044/7044 [==============================] - 6s 885us/step - loss: 0.0451 - f1_m: 0.9539 - precision_m: 0.9537 - recall_m: 0.9630 - acc: 0.9770
Epoch 34/70
7044/7044 [==============================] - 6s 898us/step - loss: 0.0502 - f1_m: 0.9525 - precision_m: 0.9479 - recall_m: 0.9659 - acc: 0.9769
Epoch 35/70
7044/7044 [==============================] - 6s 895us/step - loss: 0.0517 - f1_m: 0.9546 - precision_m: 0.9540 - recall_m: 0.9642 - acc: 0.9777
Epoch 36/70
7044/7044 [==============================] - 6s 906us/step - loss: 0.0438 - f1_m: 0.9567 - precision_m: 0.9541 - recall_m: 0.9672 - acc: 0.9790
Epoch 37/70
7044/7044 [==============================] - 6s 877us/step - loss: 0.0380 - f1_m: 0.9611 - precision_m: 0.9569 - recall_m: 0.9717 - acc: 0.9820
Epoch 38/70
7044/7044 [==============================] - 6s 889us/step - loss: 0.0413 - f1_m: 0.9609 - precision_m: 0.9575 - recall_m: 0.9717 - acc: 0.9794
Epoch 39/70
7044/7044 [==============================] - 6s 889us/step - loss: 0.0384 - f1_m: 0.9587 - precision_m: 0.9568 - recall_m: 0.9694 - acc: 0.9804
Epoch 40/70
7044/7044 [==============================] - 6s 893us/step - loss: 0.0421 - f1_m: 0.9601 - precision_m: 0.9568 - recall_m: 0.9716 - acc: 0.9798
Epoch 41/70
7044/7044 [==============================] - 6s 892us/step - loss: 0.0469 - f1_m: 0.9508 - precision_m: 0.9522 - recall_m: 0.9592 - acc: 0.9770
Epoch 42/70
7044/7044 [==============================] - 6s 879us/step - loss: 0.0381 - f1_m: 0.9587 - precision_m: 0.9581 - recall_m: 0.9674 - acc: 0.9806
Epoch 43/70
7044/7044 [==============================] - 6s 903us/step - loss: 0.0477 - f1_m: 0.9600 - precision_m: 0.9564 - recall_m: 0.9723 - acc: 0.9796
Epoch 44/70
7044/7044 [==============================] - 6s 887us/step - loss: 0.0362 - f1_m: 0.9624 - precision_m: 0.9615 - recall_m: 0.9705 - acc: 0.9813
Epoch 45/70
7044/7044 [==============================] - 6s 917us/step - loss: 0.0362 - f1_m: 0.9586 - precision_m: 0.9629 - recall_m: 0.9621 - acc: 0.9814
Epoch 46/70
7044/7044 [==============================] - 6s 908us/step - loss: 0.0363 - f1_m: 0.9608 - precision_m: 0.9571 - recall_m: 0.9709 - acc: 0.9815
Epoch 47/70
7044/7044 [==============================] - 6s 909us/step - loss: 0.0411 - f1_m: 0.9612 - precision_m: 0.9619 - recall_m: 0.9687 - acc: 0.9815
Epoch 48/70
7044/7044 [==============================] - 6s 918us/step - loss: 0.0362 - f1_m: 0.9609 - precision_m: 0.9598 - recall_m: 0.9706 - acc: 0.9813
Epoch 49/70
7044/7044 [==============================] - 6s 902us/step - loss: 0.0469 - f1_m: 0.9563 - precision_m: 0.9556 - recall_m: 0.9641 - acc: 0.9786
Epoch 50/70
7044/7044 [==============================] - 7s 923us/step - loss: 0.0377 - f1_m: 0.9631 - precision_m: 0.9648 - recall_m: 0.9697 - acc: 0.9824
Epoch 51/70
7044/7044 [==============================] - 6s 913us/step - loss: 0.0357 - f1_m: 0.9589 - precision_m: 0.9632 - recall_m: 0.9635 - acc: 0.9814
Epoch 52/70
7044/7044 [==============================] - 6s 921us/step - loss: 0.0408 - f1_m: 0.9581 - precision_m: 0.9610 - recall_m: 0.9645 - acc: 0.9815
Epoch 53/70
7044/7044 [==============================] - 6s 922us/step - loss: 0.0370 - f1_m: 0.9545 - precision_m: 0.9545 - recall_m: 0.9628 - acc: 0.9798
Epoch 54/70
7044/7044 [==============================] - 6s 911us/step - loss: 0.0384 - f1_m: 0.9624 - precision_m: 0.9651 - recall_m: 0.9675 - acc: 0.9817
Epoch 55/70
7044/7044 [==============================] - 6s 902us/step - loss: 0.0384 - f1_m: 0.9599 - precision_m: 0.9692 - recall_m: 0.9592 - acc: 0.9821
Epoch 56/70
7044/7044 [==============================] - 6s 893us/step - loss: 0.0330 - f1_m: 0.9605 - precision_m: 0.9649 - recall_m: 0.9626 - acc: 0.9831
Epoch 57/70
7044/7044 [==============================] - 6s 901us/step - loss: 0.0378 - f1_m: 0.9647 - precision_m: 0.9662 - recall_m: 0.9709 - acc: 0.9823
Epoch 58/70
7044/7044 [==============================] - 6s 903us/step - loss: 0.0362 - f1_m: 0.9601 - precision_m: 0.9632 - recall_m: 0.9639 - acc: 0.9821
Epoch 59/70
7044/7044 [==============================] - 6s 906us/step - loss: 0.0332 - f1_m: 0.9634 - precision_m: 0.9652 - recall_m: 0.9704 - acc: 0.9834
Epoch 60/70
7044/7044 [==============================] - 6s 901us/step - loss: 0.0313 - f1_m: 0.9685 - precision_m: 0.9646 - recall_m: 0.9794 - acc: 0.9850
Epoch 61/70
7044/7044 [==============================] - 6s 913us/step - loss: 0.0329 - f1_m: 0.9628 - precision_m: 0.9594 - recall_m: 0.9726 - acc: 0.9840
Epoch 62/70
7044/7044 [==============================] - 6s 897us/step - loss: 0.0405 - f1_m: 0.9561 - precision_m: 0.9593 - recall_m: 0.9611 - acc: 0.9823
Epoch 63/70
7044/7044 [==============================] - 6s 900us/step - loss: 0.0388 - f1_m: 0.9587 - precision_m: 0.9596 - recall_m: 0.9646 - acc: 0.9832
Epoch 64/70
7044/7044 [==============================] - 6s 915us/step - loss: 0.0300 - f1_m: 0.9680 - precision_m: 0.9670 - recall_m: 0.9747 - acc: 0.9857
Epoch 65/70
7044/7044 [==============================] - 6s 908us/step - loss: 0.0328 - f1_m: 0.9659 - precision_m: 0.9709 - recall_m: 0.9676 - acc: 0.9838
Epoch 66/70
7044/7044 [==============================] - 7s 941us/step - loss: 0.0311 - f1_m: 0.9673 - precision_m: 0.9647 - recall_m: 0.9777 - acc: 0.9844
Epoch 67/70
7044/7044 [==============================] - 6s 912us/step - loss: 0.0299 - f1_m: 0.9703 - precision_m: 0.9699 - recall_m: 0.9766 - acc: 0.9848
Epoch 68/70
7044/7044 [==============================] - 7s 927us/step - loss: 0.0325 - f1_m: 0.9666 - precision_m: 0.9655 - recall_m: 0.9733 - acc: 0.9838
Epoch 69/70
7044/7044 [==============================] - 6s 917us/step - loss: 0.0345 - f1_m: 0.9652 - precision_m: 0.9636 - recall_m: 0.9751 - acc: 0.9832
Epoch 70/70
7044/7044 [==============================] - 7s 930us/step - loss: 0.0329 - f1_m: 0.9660 - precision_m: 0.9678 - recall_m: 0.9709 - acc: 0.9837
7044/7044 [==============================] - 1s 147us/step

[0.025296360539783416,
 0.8995274444116509,
 0.8950466828072768,
 0.9100968396372581,
 0.9866553094832482]

In [0]:
y_pred=classifier.predict(x_test) # 0.90

In [0]:
y_pred.shape
y_pred = np.round(y_pred, 0)

In [19]:
df = pd.DataFrame(np.hstack((y_pred)), 
                  columns=['high.end'])
print(df.head(60))
df['ID'] = np.arange(len(df)) + 1

    high.end
0        1.0
1        0.0
2        0.0
3        1.0
4        0.0
5        1.0
6        1.0
7        0.0
8        1.0
9        1.0
10       1.0
11       1.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       1.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       1.0
28       0.0
29       0.0
30       1.0
31       0.0
32       1.0
33       0.0
34       0.0
35       0.0
36       0.0
37       0.0
38       0.0
39       0.0
40       0.0
41       0.0
42       0.0
43       0.0
44       0.0
45       0.0
46       0.0
47       0.0
48       0.0
49       0.0
50       1.0
51       0.0
52       0.0
53       0.0
54       0.0
55       0.0
56       0.0
57       0.0
58       0.0
59       0.0

In [0]:
from google.colab import files
df.to_csv('entry13.csv')